@font-face {
    font-family: 'arcade';
    src: url('/fonts/arcade.ttf');
}

.text, #completionMessage, #potionCounter, #swordCounter, #pickaxeCounter, #keyCounter {
    -fx-font-family: "ARCADECLASSIC";
}